@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.logo0 {
    margin-left: 37.5vw;
}
.logo1 {
	width: 25vw;
}
.logo2 {
    margin: 0%;
}
.logo3 {
    width: 100vw;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}
