@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.logo0 {
    margin-left: 40vw;
}
.logo1 {
	width: 20vw;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}